.aboutus{
    background: url("http://drive.google.com/uc?export=view&id=1hH-8dE8ccm37cPSrdYBEIiGiPU8jOQQU");
    background-size: cover;
    padding-block: 10em;
    padding-inline: 2em;

    
    color: aliceblue;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    font-style: oblique;
   
}
p{
    width: 30%;
    color: beige;
    font-weight: bolder;
    line-height: 25px;
}
