<div class="main">
    <h2 class="title">agency name</h2>
<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg">User Details</span>
        </div>
    </ng-template>
    <!-- review from back -->
    Content
</p-fieldset>

<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg">User Details</span>
        </div>
    </ng-template>
    <!-- review from back -->
    Content
</p-fieldset>



<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg">User Details</span>
        </div>
    </ng-template>
    <!-- review from back -->
    Content
</p-fieldset>


<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg">User Details</span>
        </div>
    </ng-template>
    <!-- review from back -->
    Content
</p-fieldset>



<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg">User Details</span>
        </div>
    </ng-template>
    <!-- review from back -->
    Content
</p-fieldset>
</div>