<div class="main-container">
  <p-card
    *ngFor="let trip of trips"
    header="Advanced Card"
    subheader="Card Subheader"
    [style]="{ width: '360px' }"
  >
    <ng-template pTemplate="header">
      <img alt="Card" [src]="trip.trip_image" />
    </ng-template>
    <p>Name :{{ trip.Trip_Name }}</p>
    <p>cost :{{ trip.trip_cost }}</p>
    <p>StartDate:{{ trip.trip_startdate }}</p>
    <p>EndDate :{{ trip.trip_returndate }}</p>

    <p-button
    (onClick)="bookTrip(trip)"
      label="Book"
      styleClass="p-button-success p-button-lg"
    ></p-button>
  </p-card>
</div>
